* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    font-family: helvetica, Geneva, Tahoma, sans-serif;
    /* background: #2c2626; */
    background: url(/imagem/desktop-fundo.jpg);
    background-size: 100%;
}

.conteiner {
    max-width: 1220px;
    margin: auto; 
    padding-top: 40px;
}

/*menu inicio */
.navbar {
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    align-items: center;
    /* background: #181717; */
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;

}
.nav-links {
    display: flex;
}

.nav-links li {
    margin: 10px 15px;
    padding: 5px 10px;
   

}

.nav-links a {
    color: white;
    font-size: 18px;
    border-radius: 12px;
    padding: 5px 20px;
    background: #97f32e;
}

.nav-links a:hover {
    background: #ccc;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    /* display: none; */
    background: white;
    height: 4px;
    width: 30px;
    margin: 2px 0;
}

.nav h1 {
    color: #a2f10f;
    font-size: 35px;
    letter-spacing: 5px;
    margin: 2px 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background: #2d1c5e;

} 

/*menu fim */


/*inicio imagem*/

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-name{
    margin-left: 30px;
    padding: 15px 20px;
    color: #fff;
}

.profile-name h1 {
    margin: 20px 0;
    color: #a5fa09;
}



.profile-name span {
    color: #eb3305;
}

.profile img {
    margin: 10px;
    border-radius: 50%;
    
}

section {
    color: #fff;
    padding: 0px 20px;
}


/*fim imagem*/

/*sobre inicio */

.about{
    text-align: center;

}

.about h1 {
    font-size: 30px;
    margin: 10px 0px 20px 0px;
}


.about p {
   letter-spacing: 2px;
   line-height: 1.6;
   text-align: justify;
}

/*sobre fim*/


/*habilidades inicio*/

#ability  h1 {
    color: #fff;
    text-align: center;
    font-size: 34px;
    padding: 10px;
    margin-bottom: 30px;
    
}

.skill {
    display: flex;
    flex-wrap: wrap;
    /* margin:  auto; */
    padding-left: 30px;
    justify-content: flex-start;
    cursor: pointer;
    
    
}

.skill > div {
    width: 140px;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    
}
.skills {
    color: #fff;
    border-radius: 25px;
    padding-bottom: 20px;
    background: #2d1c5e;
}

.skills svg {
    width: 60px;
    display: block;
    margin: auto;
    align-items: center;

}

/*habilidades fim*/


/*projetos inicio*/

.container-project h1 {
    color: #ffffff;
    text-align: center;
    font-size: 34px;
    padding: 10px;
    margin: 30px 0px;
}



.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    margin: 20px 10px;
    text-align: center;
    width: 30%;
    background-color: #fff;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 25px;
    cursor: pointer;
    overflow: hidden;
  
}

.projects img {
    width: 100%;
   
}

.projects-card h2 {
    color: #000;
    text-align: center;
    padding: 8px 0px;
    
}



/* .project > div {
    width: 140px;
    text-align: center;
    margin: 20px;
   
} */
/*projetos fim*/

